/* CSS Order of Specificity value: (0,0,1) */
a{
  font-size: 18px;
  color: green;
}

/* CSS Order of Specificity value: (0,1,0) */
/* This rule will be applied */
[target=_blank]{
  font-size: 24px;
  color: blue;
}
