#index-atf{
  background-image: url(img/background-photo.jpg);
}

#index-atf > div{
  height: 22vh;
}

.index-center-container{
  padding: 0;
}
h1{
  font-size: 2rem;
  /* default setting - font-weight: 400; */
}

h2{
  font-size: 1rem;
}

h3{
  font-size: 1rem;
  line-height: normal;
  /* default setting - font-weight: 400; */
}

button{
  font-size: 1rem;
}
