li:first-child{
  color: red;
}

li:last-child{
  color: blue;
}

li:nth-child(even){
  font-size: 18px;
}

li:nth-child(odd){
  font-size: 12px;
}

div{
  height: 15px;
}

div:nth-child(even){
  background-color: ghostwhite;
}

div:nth-child(odd){
  background-color: lightgrey;
}
