#container{
  width: 700px;
  margin: 1rem auto;
}

#menu{
  width: 200px;
  border: 2px solid red;
  padding: .5rem;
  box-sizing: border-box;
  float: left;
}

#content{
  width: 500px;
  border: 2px solid black;
  padding: .5rem;
  box-sizing: border-box;
  float: right;
}
