h1{
  font-style: 1.5rem;
}

section{
  border: 2px solid red;
  display: flex;
  flex-flow: column nowrap;
}

div{
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 2px solid blue;
  margin: 1rem;
  /* for text inside the div */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /* order property */
  /* for the five declared below, plus 1 for the remaining
  elements in order they appear in the HTML */
  order: 6;
}

/* order property */
/* Arrange the order in which elements inside a
flex container appear*/
.five{
  order: 1;
}

.eight{
  order: 2;
}

.twelve{
  order: 3;
}

.sixteen{
  order: 4;
}

.twenty{
  order: 5;
}
