h1 {
  font-size: 1.5rem;
}

section{
  border: 2px solid red;
  /* flex container for divs*/
  display: flex;
  flex-flow: row nowrap;
}

div{
  margin: .25rem;
  height: 100px;
  width: 200px;
  background-color: yellow;
  border: 2px solid blue;
  /* flex container for text inside of divs*/
  display: flex;
  /* applies to text inside of divs*/
  justify-content: center;
}

/* flex-grow */
/* when viewport is 600px wide, flex-grow will kick in and
the divs will grow. Three divs with widths of 200px equals
600px */
.flex1{
  flex-grow: 1;
}

/* this class will take up 2/3 of the row*/
.flex2{
  flex-grow: 2;
}
