html{
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(119, 136, 153);
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  width: 60%;
  padding: 3% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(119, 136, 153, .4);
  border-radius: 15px;
}

section{
  width: 100%;
  padding: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section#one{
  border-bottom: 1px solid rgba(119, 136, 153, .4);
}

section#two{
  flex-flow: row-reverse;
  justify-content: space-between;
}

section#three{
  border-top: 1px solid rgba(119, 136, 153, .4);
}

svg{
  font-size: 4vw;
  fill: rgba(119, 136, 153, .4)
}

p{
  font-size: 1.9vw;
  margin-left: 4%;
}
