section{
  display: flex;
  flex-flow: row wrap;
  border: 2px solid black;
  height: 600px;
  align-items: flex-end;
}

div{
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 3px solid blue;
  background-color: yellow;
}

/* align-self property allows to take individual items
and align them differently from the other items */
.self{
  align-self: flex-start;
}

h1{
  font-size: 1.5rem;
}
