div{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: yellow;
  border: 1px solid blue;
  margin-top: 10px;
}

div:hover{
  color: yellow;
  background-color: blue;
}

.trans{
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
