body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 1rem;
  font-family: serif;
  font-weight: bold;
  color: red;
  animation-name: sizeChange;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sizeChange {
  0% {font-size: 1rem;}
  100% { font-size: 15rem;}
}
