section{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  height: 700px;
}

/* align-items property is best to move one line of content along the cross-axis.
Applying this property to content that takes up multiple lines can result in
unwanted space between lines of content */
.baseline{
  align-items: baseline;
}

.center{
  align-items: center;
}

.flexend{
  align-items: flex-end;
}

.flexstart{
  align-items: flex-start;
}

.stretch{
  align-items: stretch;
}

div{
  width: 200px;
  height: 200px;
  background-color: yellow;
  border: 3px solid blue;
}

.noheight{
  width: 200px;
  height: auto;
  background-color: yellow;
  border: 3px solid blue;
}

h1{
  font-size: 1.5rem;
}

.small{
  font-size: 1rem;
}

.large{
  font-size: 1.5rem;
}

.medium{
  font-size: 1.25rem;
}
