html, body, div{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
  font-size: 3vw;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#counter{
  width: 19.2rem;
  height: 4.8rem;
  display: flex;
  border: 1px solid #00a3d4;
  border-radius: 12px;
}

#subtract, #add, #quantity{
  display: flex;
  justify-content: center;
  align-items: center;
}

#subtract, #add{
  background-color: #03c2fc;
  color: white;
  flex-grow: 1;
}

#subtract{
  border-right: 1px solid #00a3d4;
  border-radius: 10px 0px 0px 10px;
}

#add{
  border-left: 1px solid #00a3d4;
  border-radius: 0px 10px 10px 0px;
}

#subtract:hover, #add:hover{
  background-color: #63dbff;
}

#quantity{
  flex-grow: 2;
}
