/* align-content property moves multiple lines of content
along the cross-axis. */
section{
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  border: 2px solid black;
  height: 600px;
}

div{
  width: 100px;
  background-color: yellow;
  border: 3px solid blue;
  margin: 10px;
}

h1{
  font-size: 1.5rem;
}
