a:link{
  font-size: 16px;
  font-family: sans-serif;
  display: block;
}

a:visited{
  font-style: italic;
  color: lightblue;
}

a:hover{
  font-style: bold;
  color: blue;
}

a:active{
  font-style: bold;
  color: darkblue;
}
